.card{
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
    gap: 16px;

}
.card:hover{
    transform: scale(1.02);
}


.card_poster{
    width: 100%;
    display: block;
}

.card_title{
    font-weight: 700;
    margin: 0 0 8px 0;
    color: #000;
}

.card_description{
    font-size: 0.8rem;
    color: #555;
    margin: 0;
    line-height: 1.4;
}



